.header{
    max-width: 1085px;
    width: 90%;

    background-color: $clr-primary;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile-only {
        flex-direction: column;
    }

    &__link{
        display: flex;
        color: black;
        margin-left: 24px;

        font-size: 1rem;
        text-transform: uppercase;

        transition : color 100ms ease-out;

        &:hover{
            color: $clr-secondary;
        }

        span{
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            top: -8px;
            right: -2px;

            width: 20px;
            height: 20px;
            border-radius: 100px;
            background-color: white;


        }
    }

}